@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: Oswald, 'Raleway', sans-serif;
    margin: 0px 0px;
}

a {
    text-decoration: none;
}

.navbar {
    display: inline-flex;
    width: 100%;
    #background-color: white;
    padding: 5px 5px;
}

.navbar h1,h2 {
    color: #0f3b82;
}

.navbar h1 {
    margin: 0px 30px 0px 15px;
    border-bottom: 5px solid #0f3b82;
}

.navbar h2 {
    margin: 0px 0px 0px 30px;
    padding: 10px 10px;
    font-size: 1.5em;
    border-bottom: 5px solid #8fb4ef;
}

.navbar h2:hover {
    border-bottom: 5px solid #0f3b82;
}

.navbar-buttons {
    display: inline-flex;
    margin-left: 33%;
}

.main-body {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #0f3b82;
    background-size: cover;
}

.main-body h1,p {
    color: white;
}

.twitter-timeline {
    padding-top: 25%;
}

.left-bar {
    float: left;
}

#current-page h2 {
    
}
